input.input-error {
  border-color: #fc8181;
}

.form-wrapper::-webkit-scrollbar {
  width: 10px;
}

.form-wrapper::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
  border-radius: 100px;
}

.form-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(82, 82, 82, 0.3);
  border-radius: 100px;
}

.field.dark label,
.field.dark button {
  color: #b0b2c2;
}

.field.dark input,
.field.dark div[role="button"] {
  color: #dde0f3;
}

.field.dark fieldset {
  border-color: #41434b;
}

.active {
  font-weight: bold;
}
