.dropdown-transition-enter {
  opacity: 0;
}

.dropdown-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.dropdown-transition-exit {
  opacity: 0;
}

.dropdown-transition-active {
  opacity: 0;
  transition: opacity 400ms;
}

input.checked {
  background-color: var(--color-text-accent);
  position: relative;
}

/* input.checked::before {
  content: "\2713";
  font-size: 1.3em;
  color: #fff;
  position: absolute;
  right: -50%;
  top: -50%;
  translate: -15% -5%;
}

input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
} */
