@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .transition-primary {
    @apply transition duration-300 ease-in-out;
  }

  .heading-lg,
  .heading-md,
  .heading-sm,
  .heading-sm-secondary {
    @apply font-bold;
  }

  .heading-lg {
    line-height: 33px;
    letter-spacing: -1px;
    @apply text-heading-lg;
  }

  .heading-md {
    line-height: 22px;
    letter-spacing: -0.75px;
    @apply text-heading-md;
  }

  .heading-sm,
  .heading-sm-secondary {
    letter-spacing: 0.25px;
    @apply text-heading-sm;
  }

  .heading-sm,
  .paragraph {
    line-height: 24px;
  }

  .heading-sm-secondary {
    line-height: 15px;
  }

  .paragraph,
  .paragraph-secondary {
    letter-spacing: -0.1px;
    @apply text-paragraph;
  }

  .paragraph-secondary {
    line-height: 15px;
  }
}

html {
  min-height: 100%;
}

body,
#root {
  min-height: 100vh;
}
